%footer#footer.group
  .footer-wrapper
    .footer-meta
      %nav
        %ul
          %li
            %a{:href => "http://www.judiciary.gov.uk"} Judiciary
          %li
            %a{:href => "http://www.justice.gov.uk"} Justice
          %li
            %a{:href => "http://gov.uk"} GOV.UK
        %p
          All content is available under the
          %a{:href => "http://www.nationalarchives.gov.uk/doc/open-government-licence/"} Open Government Licence,
          except where otherwise stated
      .copyright
        %a{:href => "http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm"} &copy; Crown Copyright
