%script document.body.className = document.body.className + ' js-enabled'
= render "shared/moj_header" + (Rails.configuration.govbranding ? "gov" : ""), :title => defined?(proposition) ? proposition : Rails.configuration.app_title
