%footer#footer.group.js-footer{:role => "contentinfo"}
  .footer-wrapper
    .footer-categories
      .footer-explore
        %h2 Services and information
        %ul
          %li
            %a{:href => "https://www.gov.uk/browse/driving"} Driving and transport
          %li
            %a{:href => "https://www.gov.uk/browse/benefits"} Benefits
          %li
            %a{:href => "https://www.gov.uk/browse/business"} Businesses and self-employed
          %li
            %a{:href => "https://www.gov.uk/browse/employing-people"} Employing people
          %li
            %a{:href => "https://www.gov.uk/browse/abroad"} Passports, travel and living abroad
          %li
            %a{:href => "https://www.gov.uk/browse/education"} Education and learning
          %li
            %a{:href => "https://www.gov.uk/browse/working"} Working, jobs and pensions
          %li
            %a{:href => "https://www.gov.uk/browse/housing"} Housing and local services
          %li
            %a{:href => "https://www.gov.uk/browse/justice"} Crime, justice and the law
          %li
            %a{:href => "https://www.gov.uk/browse/tax"} Money and tax
          %li
            %a{:href => "https://www.gov.uk/browse/births-deaths-marriages"} Births, deaths, marriages and care
          %li
            %a{:href => "https://www.gov.uk/browse/disabilities"} Disabled people
          %li
            %a{:href => "https://www.gov.uk/browse/citizenship"} Citizenship and life in the UK
      .footer-inside-government
        %h2 Departments and policy
        %ul
          %li
            %a{:href => "https://www.gov.uk/government/how-government-works"} How government works
          %li
            %a{:href => "https://www.gov.uk/government/organisations"} Departments
          %li
            %a{:href => "https://www.gov.uk/government/world"} Worldwide
          %li
            %a{:href => "https://www.gov.uk/government/topics"} Topics
          %li
            %a{:href => "https://www.gov.uk/government/policies"} Policies
          %li
            %a{:href => "https://www.gov.uk/government/publications"} Publications
          %li
            %a{:href => "https://www.gov.uk/government/announcements"} Announcements
    .footer-meta
      .footer-meta-inner
        %h2.visuallyhidden Support links
        %ul
          %li
            %a{:href => "https://www.gov.uk/support"} Support
          %li
            %a{:href => "https://www.gov.uk/support/cookies"} Cookies
          %li
            %a{:href => "https://www.gov.uk/feedback"} Feedback
          %li
            %a{:href => "https://www.gov.uk/cymraeg"} Cymraeg
          %li
            Built by the
            %a{:href => "http://digital.cabinetoffice.gov.uk/"} Government Digital Service
        .open-government-licence
          %h2
            %a{:href => "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2"}
              %img{:alt => "OGL", :src => "https://assets.digital.cabinet-office.gov.uk/static/open-government-licence_2x-d273d7eca3045d3b710a863d9bfc0b33.png"}/
          %p
            All content is available under the
            = succeed "," do
              %a{:href => "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2"} Open Government Licence v2.0
            except where otherwise stated
      .copyright
        %a{:href => "http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm"} © Crown Copyright
/ end footer
