%header#global-header.group.nongov{:role => "banner"}
  .header-wrapper.group
    .header-logo
      = title
      - if Rails.configuration.phase != 'live'
        %small{:class => Rails.configuration.phase}
          = Rails.configuration.phase.upcase
