%header#global-header.with-proposition.gov{:role => "banner"}
  .header-wrapper
    .header-global
      .header-logo
        %a.content#logo{:title => "Go to the GOV.UK homepage", :href => "https://www.gov.uk/"}
          %img{:alt => "GOV.UK", :src => "https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png"}

    .header-proposition
      .content
        %nav#proposition-menu
          %a#proposition-name{:href => "/"}
            = title
            - if Rails.configuration.phase != 'live'
              %small{:class => Rails.configuration.phase}
                - Rails.configuration.phase.upcase
