.indicator.cf
  %p
    %strong #{Rails.configuration.phase.capitalize}:
    This is a new service -
    %a{:href => 'mailto:' + Rails.configuration.feedback_email}your feedback
    will help us to improve it
