@import '_colours';
@import 'vars';

.left {
  float: left;
}
.right {
  float: right;
}

input[type="text"]{
  margin: 0;
}

#wrapper {
  padding: 0 0 30px 0;
  border-bottom: 10px solid $ministry-of-justice;
  body.alpha & {
    border-bottom: 10px solid $alphacolour;
  }
  body.beta & {
    border-bottom: 10px solid $betacolour;
  }
}

section#content {
  padding-top: 30px;
  margin: auto;
  width: 980px;
}
