@import '_colours';
@import 'vars';
@import '_css3';

/* clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* end clearfix */

button, .button {
  @include border-radius(4px);
}

.left {
  float: left;
}
.right {
  float: right;
}

input[type="text"]{
  margin: 0;
}

#wrapper {
  padding: 0 0 30px 0;
  border-bottom: 10px solid $ministry-of-justice;
  body.alpha & {
    border-bottom: 10px solid $alphacolour;
  }
  body.beta & {
    border-bottom: 10px solid $betacolour;
  }
}

section#content {
  margin: auto;
  max-width: 960px;
  width: auto;
  _width: 960px; /* IE6 only */
  min-height: 400px;
}
