@import '_typography';
@import 'vars';

header {
  h1 {
    @include core-48;
    margin: 48px 360px 16px 0;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 4.8rem;
    span {
      @include core-27;
      color: $grey-1;
      display: block;
    }
  }
}

#global-breadcrumb nav {
  border: none;
  margin: 0;
}

#global-header.gov {
  small {
    @include core-16;
    padding: 3px 5px;
    color: $white;
    font-weight: bold;
    margin-left: 16px;
    vertical-align: 3px;

    &.alpha {
      background-color: $alphacolour;
    }
    &.beta {
      background-color: $betacolour;
    }
  }
}

.indicator {
  margin: auto;
  max-width: 960px;
  padding: 0 32px;
  @include media(mobile) {
    padding: 0 16px;
  }
  .alpha & {
    background-color: $alphacolour;
    color: $white;
    a {
      color: $white;
      &:hover {
        color: $grey-4;
      }
    }
  }
  .beta & {
    background-color: $betacolour;
    color: $black;
    a {
      color: $black;
      &:hover {
        color: $grey-1;
      }
    }
  }
  .admin & {
    background-color: $admincolour; 
    color: $white;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    @include core-16;
    padding: 8px 0;
    margin: 0;
    strong {
      text-transform: uppercase;
      .admin & {
        text-transform: none;
      }
    }
  }
}

#global-header.nongov {
  .header-wrapper {
    padding: 0 16px;
    .header-logo {
      max-width: 990px;
      margin: auto;
      padding: 0 16px;
      color: #fff;
      height: 53px;
      vertical-align: middle;
      display: table-cell;
      
      @include core-24;

      @include media(mobile) {
        padding: 0;
      }

      #proposition-name {
        color: $white;
        text-decoration: none;
      }

      small {
        @include core-16;
        padding: 3px 5px;
        color: #fff;
        font-weight: bold;
        margin-left: 16px;
        vertical-align: 3px;

        &.alpha {
          background-color: $alphacolour;
        }
        &.beta {
          background-color: $betacolour;
        }
      }
    }
  } 
}

#global-breadcrumb ol {
  border: 0;
}
